.login-page {
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: var(--tran-05);
}

.login-container {
  background-color: var(--sidebar-color);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  transition: var(--tran-05);
}

.login-card h2 {
  margin-bottom: 20px;
  color: var(--txt);
  font-weight: 600;
  text-align: center;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card label {
  margin-bottom: 5px;
  color: var(--text-color);
  font-weight: 500;
}

.login-card input {
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
  outline: none;
  background-color: var(--primary-color-light);
  color: var(--txt);
  transition: var(--tran-05);
}

.login-card input:focus {
  border-color: var(--primary-color);
}

.login-card button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: var(--tran-05);
}

.login-card button:hover {
  background-color: #1a1460;
}

.register-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
}

.register-link a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}
.error-message{
  text-align: center;
}
